@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fredoka+One&family=Open+Sans:ital@1&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Barriecito&family=Fredoka+One&family=Open+Sans:ital@1&family=Permanent+Marker&display=swap');
$tipografiaPrincipal: normal 50px/1 'Permanent Marker', cursive;
$tipografiaSecundaria: normal 25px/1.5 'Barriecito', cursive;
$colorTitulo: rgb(224, 212, 37);
$colorTexto: blue;
$tipografias: (principal:normal 49px/1 'Permanent Marker', secundaria:normal 24px/1.5 'Barriecito');